extends layout

block content
  link(rel='stylesheet', href='/css/scoreboard.css')
  .logo1
    img(src="/images/lab_banner.png")
  .timer
  .logo2
    a(href="/control")
      img(src="/images/2048-itaipava-jiu-jitsu.jpg")
  .fighter-1-name
    input#fighter-1-name(
      type="text",
      placeholder="Fighter 1"
    )
  .fighter-2-name
    input#fighter-2-name(
      type="text",
      placeholder="Fighter 2"
    )
  .fighter-1-score 0
  .fighter-2-score 0
  .fighter-1-adv 0
  .fighter-1-penal 0
  .fighter-2-adv 0
  .fighter-2-penal 0
  .fighter-1-adv-text ADV
  .fighter-1-pen-text PEN
  .fighter-2-adv-text ADV
  .fighter-2-pen-text PEN
